@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');

#bCard{
    margin-top: 4%;
    margin-left: 4%;
    color: #FFC288 ;
    font-size: small;
    border: none;
margin-bottom: 4%;}



#card{
    font-family: 'Comfortaa', cursive;
    background-color:#1B1A17 ;
   


}
#cardTitle{
    font-weight: bolder;
}
